ion-card{
    max-width: 300;
}

img{
    object-fit: cover;
}

.main{
    color: black;
    font-weight: 700;
}

.details{
    float: left;
    color: black;
}

.bookmark{
    float: right;
    font-size: 30px;
}