ion-fab{
    margin-bottom: 60px;
}

super-tabs-toolbar{
    background-color: blue;
}

super-tabs-toolbar super-tab-button{
    color: white;
}

#tapper{
    color: red;
}

ion-item{
    color: white;
    --background: blue;
}

#menu, #menuTitle{
    color: white;
    --background: blue;
}