<super-tabs id="main-content" (tabChange)="tabChange($event)">
  <super-tabs-container>
    <super-tab>
      <ion-nav [root]="home"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="search"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="bookmarks"></ion-nav>
    </super-tab>
  </super-tabs-container>

  <super-tabs-toolbar slot="bottom" color="primary">

    <super-tab-button>
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>Bookmarks</ion-label>
    </super-tab-button>
  </super-tabs-toolbar>

</super-tabs>


<ion-fab id="fab" horizontal="center" vertical="bottom" cdkDrag>
  <ion-fab-button color="primary">
    <ion-icon name="aperture-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" (click)="onClick()">
      <ion-icon name="aperture-outline" id="tapper"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button color="tertiary" [href]="'tel:+2349068936445'">
      <ion-icon name="call-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="bottom">
    <ion-fab-button color="dark" [href]="'https://wa.link/33o423'">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="end">
    <ion-fab-button color="success" [href]="'mailto:anyamsesugh@gmail.com'">
      <ion-icon name="logo-google"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar id="menuTitle">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="menu">
    <ion-list>
      <ion-item (click)="goToTab(0)">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item (click)="goToTab(1)">
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-item>
      <ion-item (click)="goToTab(2)">
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>Bookmarks</ion-label>
      </ion-item>
      <ion-item (click)="closeMenu()">
        <ion-icon name="archive" slot="start"></ion-icon>
        <ion-label>Close Menu</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>